$primary-color: #19E65E;
$secondary-color: #14bb4c;
$tertiary-color: #1ffd69;
$text-dark: #555;
$text-white: #fff;
$text-gray: #6c757d;
$bg-light: #fff;
$bg-gray: #fafafa;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
$shadow-darker: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-darker-2: 1px 2px 4px rgba(0, 0, 0, 0.1);