@use '../../styles/variables.scss' as *;

.custom-button {
  background-color: $primary-color;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: $shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &:hover {
    background-color: $secondary-color;
    color: $text-white;
  }

  &--white {
    background-color: $bg-light;

    &:hover {
      background-color: #eee;
      color: #000;
    }
  }
}
