@use '../../styles/variables.scss' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  background: $bg-gray;
  width: 100vw;
  height: 100vh;
}

.register-container {
  display: flex;
}

.register-left {
  flex: 1;
  width: 100%;
  background-image: url('../../assets/background-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-white;
  font-size: 1.1rem;
  padding: 2rem;
  border-radius: 8px 0px 0 8px;
  box-shadow: $shadow-darker-2;

  .logo {
    height: 64px;
    margin-bottom: 24px;
  }
}

.register-right {
  flex: 1;
  background: $bg-light;
  border-radius: 0 8px 8px 0;
  padding: 3rem 4rem;
  box-shadow: $shadow-darker-2;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 2rem;

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
      }

      input,
      select {
        padding: 0.8rem;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 1rem;
      }

      select {
        background-color: $bg-light;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
      }
    }

    .form-inline {
      display: flex;
      gap: 1rem;

      .form-group {
        flex: 1;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: $bg-light;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  box-shadow: $shadow-darker-2;
  min-width: 320px;
  max-width: 450px;
  text-align: center;
  color: #333;

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  .modal-close-btn {
    background-color: $primary-color;
    color: #000;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}